table {
	border: none;
    border-collapse: collapse;
    color: white;
        width: 100%;
    table-layout: fixed;
}

thead {
	border-bottom: 2px solid black;
    color: white;
    font-size: 1.5em;
}

table tr {
	height: 3em;
}

tbody {
	font-size: 1.2em;
	text-align: center;
}

.row-1 { width: 25%; }
.row-2 { width: 10%; }
.row-3 { width: 15%; }
.row-4 { width: 20%; }
.row-5 { width: 15%; }

tbody tr:nth-child(even) {
    background-color: #3A89C9;
}

tbody tr:nth-child(odd) {
    background-color: #6BAEE4;
}

td a {
    text-decoration: none;
    color: white;
}
