input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    width: 148px;
width: -moz-fit-content;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #B3B3B3;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid gray;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    margin-top: -7px;
}

input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
}