/*
    COLORS:
    4 modrá: #1B325F;
    3 modrá: #3A89C9;
    2 modrá: #6BAEE4;
    1 modrá(filter): #9CC4E4;
    accent: #F26C4F;

    sivá: #EEEEEE;
    sivá hover: #DDDDDD;

*/

.tooltip:hover:after{
        background: #9CC4E4;
    border: 1px solid #1B325F;
    border-radius: 5px;
    bottom: 26px;
    color: black;
    content: attr(title);
    left: 10%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 200px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #9CC4E4 transparent;
    border-width: 7px 7px 0 7px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.tooltip{
    display: inline;
    position: relative;
}

body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    /*background-color: #EBEBEB;*/
}

#wrapper {
    margin: 0 auto 0 auto;
    width: 960px;
    background-color: #EEEEEE;
    min-height: 100%;
    padding-bottom: 10px;
}

#wrapper > div:last-child {
    margin-bottom: 0 !important;
}

#header {
    background-color: #EEEEEE;
    width: 90%;
    margin: 0px auto 10px auto;
    /*height: 300px;*/
    position: relative;
    overflow: hidden;
}

#content {
    width: 90%;
    margin: 30px auto;
    /*overflow: hidd    en;*/
    /*background-color: #EEEEEE;*/
}

#footer {
    width: 90%;
    margin: 10px auto;
    height: 100px;
}

#map {
    width: 80%;
    height: 400px;
    margin: 20px auto; 
}



/** 
    IN HEADER
**/
.oblubene {
    width: 40%;
    height: 30%;
    float: right;
    background-color: white;
    position: absolute;
    bottom: 10px;
    right: 0px;
        box-sizing: border-box;
    padding: 10px;
        display: flex;
    justify-content: space-around;
    align-items: center;
}

.fav-count {
        font-size: 1.5em;
}

.logo {
    float: left;
}

.logo img {
    max-height: 250px;
}

.social-bar {
    float:right;
    margin: 40px 0 0 0; 
}

.social-bar img {
    max-width: 50px;
    max-height: 50px;
    margin-left: 10px;
}

.porovnajButton a {
    background-color: #3A89C9;
    padding: 0.5em;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    float: right;
    /* position: absolute; */
    /* bottom: 10px; */
    /* right: 10px; */
}

/**
    IN FOOTER
**/

.newsletter {
        width: 39%;
    height: 100%;
    background-color: white;
    float: right;
    padding-bottom: 10px;
        font-size: 1.2em;
/*    display: flex;
    justify-content: center;
    align-items: flex-end;
*/
}

.newsletter > * {
    text-align: center;
}

.copyright {
        width: 60%;
    background-color: white;
    height: 100%;
    float: left;
    font-size: 1.2em;
        display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

.newsletter form {
    margin: 0; 
}

/* MENU */

#menu {
    width: 90%;
    margin: 10px auto;
}

#menu ul {
    margin: 0;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;
}

#menu ul li {
    /* float: left; */
    /* display: inline-block; */
    /* height: 1.5em; */
    width: 100%;
    text-align: center;
}

#menu ul a{
    width: 17%;
    background-color: #3A89C9;
    padding: 0.5em;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

#menu ul a:hover {
    background-color: #1B325F;
}

/*button {
    background-color: blue;
    border-radius: 5px;
    width: 100px;
    height: 2em;
    border: none;
}*/

/* FILTER */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter-wrap {
    width: 100%;
/*height: 330px;*/
background-color: #9CC4E4;
padding-bottom: 5px;
}

.filter-wrap h1 {
    margin: 25px 0px 10px 20px;
}

#content .filter-tabs {
overflow: hidden;
    /*height: 1.5em;*/
    background-color: #9CC4E4;
}

.filter-tabs .filter-tab {
    cursor:pointer;
    float: left;
    display: table-cell;
    width: 25%;
    height: 37px;
    line-height: 37px;
    color: white;
    font-size: 1.2em;
    background-color: #3A89C9;
    text-align: center;
    vertical-align: middle;
    background: -webkit-linear-gradient(top, #3A89C9, #3A89C9, #3A89C9, #2C6898);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #3A89C9, #3A89C9, #3A89C9, #2C6898);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #3A89C9, #3A89C9, #3A89C9, #2C6898);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #3A89C9, #3A89C9, #3A89C9, #2C6898);
}

.filter-tabs .selected {
    cursor: default;
    background-color: #9CC4E4;
    background: none;
    color: black;
}

.filter-tab span {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.filter-content {
    width: 100%;
}

.filter-content .form-param {
    width: 46%;
    margin: 10px;
    float: left;
    position: relative;
}

.form-param label {
    display: inline-block;
    width: 45%;
    text-align: right;
}

.form-param .error-msg {
    float: left;
    background-color: #F26C4F;
    padding: 4px;
    border-radius: 5px;
    position: absolute;
    left: 100%;
    width: 150px;
    top: 0px;
    z-index: 5;
    display: none;
}

.form-param input, select {
    width: 200px;
    height: 2em;
    border: 1px solid #555555;
    border-radius: 3px;
}

.input-short {
    width: 45px !important;
    margin-left: 0px !important;
}

.form-param input[type=text], input[type=number] {
    padding-left: 5px;
}

.submit-button input {
    background-color: #3A89C9;
    border: none;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;

}

.submit-button input:hover {
    background-color: #1B325F;
}



/* HYPOTEKY */

#hypoteky {
    width: 100%;
    margin: 30px auto; 
    min-height: 100px; 
}

.hypoteka {
    width: 415px;
    float: left;
    border: 2px solid black;
    display: table;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
}

.hypo-head {
    height: 80px;
    background-color: #1B325F;
    width: 100%;
}

.bankImage{
    height: 100%;
    width: 40%;
    background-color: white;
    float: left;
}

.bankImage img {
    width: 100% !important;
    height: 100% !important;
}

.circle
    {
    width:30px;
    height:30px;
    border-radius:250px;
    font-size:1em;
    line-height:500px;
    text-align:center;
    }

.hypo-head .myButton {
    float: right;
    /* margin-top: 20px; */
    margin-right: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* background-color: white; */

.hypo-head .myButton:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

.hypo-buttons {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.poziadajButton {
    height: 50px;
    padding: 0 10px;
    background-color: white;
}

.openButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.openButton .arrow_down {
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 30px solid white;
}

.openButton .arrow_down:hover {
    cursor: pointer;
}

.addFavButton {
    background-color: white;
    padding: 10px;
        font-size: 2em;
}

.isFavorite {
    background-color: #C0D23E !important;
}

.hypo-content {
    margin: 5px;
    background-color: #DDDDDD;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hypo-content table {
    width: 100%;
    height: 200px;
    border-color: black;
    border-collapse: collapse;
    font-weight: bold;
}

.hypo-content table tr td {
    border: 2px solid black;
    color: white;
    font-size: 1.3em;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #3A89C9;
}

tr:nth-child(even) {
    background-color: #6BAEE4;
    width: 50%;
}

td:nth-child(even) {
    width: 50%;
}

.hypo-slider {
    width: 100%;
    height: 210px;
    background-color: #EEEEEE;
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
    float: left;
        padding: 10px;
    box-sizing: border-box;
}

/* SORT */ 
.sort {
        /* width: 90%; */
    background-color: #EEEEEE;
    margin: 0 auto;
}

.sort ul {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin:0;
}

.sort ul li {
    background-color: #1B325F;
    padding: 0.5em;
    text-align: center;
}

.sort ul a {
    width: 18%;
    text-decoration: none;
    color: white;
    height: 1.5em;
}

.sort ul a .sorted{
    background-color: #3A89C9;
}

/*button {
    background-color: blue;
    border-radius: 5px;
    width: 100px;
    height: 2em;
    border: none;
}*/



