/* FAQ */

.left-bar {
    width: 30%;
    float: left;
    margin: 10px;
}

.left-bar > div {
    margin-bottom: 20px;
}

.faq-opytat-sa .faq-leftbar-header {
    background-color: #F26C4F;
}

.faq-opytat-sa-form {
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.faq-opytat-sa-form form {
    overflow: hidden;
}

.faq-opytat-sa-form .form-param {
    width: 100%;
    /* margin: 0 auto; */
    /*float: left;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 5px 0;
}

.faq-opytat-sa-form .form-param input[type="email"] {
    width: 69%;
}

.faq-opytat-sa-form .form-param label {
    width: 20%;
    text-align: left;
}

.faq-opytat-sa-form .form-param input[type="submit"] {
    background-color: #3A89C9;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 89%;
}

.faq-opytat-sa-form .form-param input[type="submit"]:hover {
    background-color: #1B325F;
}

.otazky {
    width: 65%;
    float: right;
        margin: 0 10px 10px 10px;
}

.otazka {
        width: 95%;
    /* height: 2em; */
    border-radius: 2px;
    background-color: #3A89C9;
    border: 1px solid #357ebd;
    color: white;
    margin: 10px auto;
    overflow: auto;
    float: none;
    display: flex;
}

.otazka .text {
        width: 75%;
    float: left;
    /*margin: 0 auto;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /* height: 2em; */
    line-height: 2em;
    padding: 0px 5px;
}

.arrow-wrap {
    width: 25%;
    background-color: #3A89C9;
    border: 1px solid #357ebd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: initial; */
}

.arrow-wrap:hover {
    background-color: #50A9F6;
    cursor: pointer;
}

.arrow_down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
}

.odpoved {
    border-radius: 2px;
    border: 1px solid #3A89C9;
    background-color: white;
    width: 95%;
    margin: 10px auto;
    display: none;
    padding: 10px 2%;
    box-sizing: border-box;
}

.faq-leftbar-header {
background-color: #3A89C9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.faq-kategorie {
        display: flex;
    justify-content: center;
    background-color: white;
    /* padding-bottom: 10px; */
}

.faq-kategorie ul {
        list-style: none;
    padding: 0;
    margin: 0;
    width: 90%;
    background-color: white;
        border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.faq-kategorie .kategoria {
    background-color: white;
    /*width: 95%;*/
    border-bottom: 1px solid #3A89C9;
    height: 2.5em; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

.faq-kategorie a:last-child .kategoria {
    border-bottom: none;
}

.faq-kategorie  a {
    text-decoration: none;
    color: black;
}

.faq-kategorie  li:hover {
    text-decoration: none;
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #eee 10%, #eee 90%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#eee 10%,#eee 90%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 0%,#eee 10%,#eee 90%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: black;
}

.faq-kategorie  a:visited {
    text-decoration: none;
    color: black;
}

.faq-kategorie .selected {
    background: #ddd; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #dddddd 10%, #dddddd 90%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#dddddd 10%,#dddddd 90%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 0%,#dddddd 10%,#dddddd 90%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}