.ziadost-header {
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 20px;
}

.ziadost-nadpis {
    width: 90%;
    height: 100px;
    background-color: #3A89C9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 2em;
    /* float: left; */
    margin: 0 auto;
}

.ziadost-header img {
        float: right;
    max-height: 85px;
    margin-right: 5%;
}

.ziadost-form {
    
}

.ziadost-form form label {
    
}

.ziadost-form form input, select {
    font-size: 14pt !important;
    width: 300px;
        padding-left: 4px;
}

.ziadost-form .form-param {
    margin: 10px 0px;
    font-size: 18pt;
}

.ziadost-form .form-submit {
    margin: 0 auto;
        width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-submit input[type="submit"] {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #92F22A;
    border: none;
    border-radius: 10px;
    color: black;
    margin: 10px;
}

.form-submit input[type="submit"]:hover {
        padding: 10px 20px;
    font-size: 1.5em;
    background-color: #9AFF2C;
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

.form-submit input[type="submit"]:disabled {
        padding: 10px 20px;
    font-size: 1.5em;
    background-color: #aaa;
    border: none;
    border-radius: 10px;
    color: black;
}

.ziadost-form .form-submit .podmienky {
        position: absolute;
    top: -470px;
    display: none;
}

.checkbox input {
    width: 30px !important;
    height: 30px !important;
}

.checkbox label {
    width: 75%;
}

.podmienky {
    width: 81%;
    background-color: white;
    border: 1px solid #bbb;
    padding: 10px;
    z-index: auto;
    margin: 0 auto 10px auto;
}

.ziadost p {
    text-align: justify;
}

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dddddd+10,dddddd+90,ffffff+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 0%, #dddddd 10%, #dddddd 90%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 0%,#dddddd 10%,#dddddd 90%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 0%,#dddddd 10%,#dddddd 90%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */