.ziadost-header {
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 20px;
}

.ziadost-nadpis {
    width: 100%;
    height: 100px;
    background-color: #3A89C9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    float: left;
}

.ziadost p {
    text-align: center;
    font-size: 1.5em;
    width: 60%;
    margin: 0 auto
}